# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE setting directory
.vscode
.idea

# Ignore data file
/src/main/java/javafinal/resources/data/notice.csv